@startuml
hide empty members
set namespaceSeparator none

skinparam class {
	{{#classDiagrams.size}}BackgroundColor PaleGreen{{/classDiagrams.size}}
	{{#entityDiagrams.size}}BackgroundColor AliceBlue{{/entityDiagrams.size}}
	ArrowColor RoyalBlue
	BorderColor DimGray
}

{{#classDiagrams}}
{{#isClass}}class{{/isClass}} {{^isClass}}enum{{/isClass}} {{className}} {{#superClass}} < ? extends {{superClass}}> {{/superClass}}{
	 {{#fields}}
	 - {{#name}}{{name}}{{/name}} {{#dataType}}<b>:{{dataType}}</b>{{/dataType}}
	 {{/fields}}
}

{{/classDiagrams}}

{{#interfaceDiagrams}}
interface {{interfaceName}} {
	 {{#methods}}
	 + <i>{{methodDefinition}}</i><b>:{{returnType}}</b> {{#errorClass}} <b><color:red> throws {{errorClass}} </color> </b>{{/errorClass}}
	 {{/methods}}
}

{{/interfaceDiagrams}}

{{#classRelations}}
{{source}} {{#isExtension}}-->{{/isExtension}} {{#isComposition}}*--{{/isComposition}} {{#cardinality}}"{{cardinality}}"{{/cardinality}}  {{target}}
{{/classRelations}}

{{#entityDiagrams}}
entity {{name}} {
	 {{#keyFields}}
	 * {{#name}}{{name}}{{/name}} {{#dataType}}<color:gray>:{{dataType}}</color>{{/dataType}}
	 {{/keyFields}}
	 {{^keyFields.empty}}
	 --
	 {{/keyFields.empty}}
	 {{#fields}}
	 {{#required}}* {{/required}}{{#name}}{{name}}{{/name}} {{#dataType}}<color:gray>:{{dataType}}</color>{{/dataType}}
	 {{/fields}}
}

{{/entityDiagrams}}

{{#entityRelations}}
{{source}}::{{sourceField}} {{#required}}--{{/required}}{{^required}}..{{/required}}{{#many}}{{curly}}{{/many}} {{target}}
{{/entityRelations}}

note as N1
  Name: <b><color:royalBlue>{{title}}</color>
  Version: <b><color:royalBlue>{{version}}</color>
end note


@enduml